<h1> Editar a promoção </h1>

<% if @promotion.errors.any? %>
  <div class='alert'>
    <p> Não foi possível atualizar a promoção </p>
    <ul>
    <% @promotion.errors.full_messages.each do |error| %>
      <li> <%= error %> </li>
    <% end%>
    </ul>
  </div>
<% end %>

<%= render 'form', promotion: @promotion %>